// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #7B8078; // main button green
$yellow: #F2F0F0;
$suggested-action: #232623;
$green: #54B33D; // logo green
$green-transparent: #E6EEDF;
$gray: #EEF0F0;
$bone-gray: #FCFAFA; //background bone color
$dutch-white: #A8D69B;
$black: #252524;
$element-gray: #C4C2C2;
