  <div class="custom-container-landing">
    <div class="custom-container-about">
      <h1 class="custom-text-boldest">Stop browsing<br> and find your<br> dream job<span class="text-success">.</span></h1>
      <p class="description">Remote scanner simplifies the process of finding remote & work-from-home jobs.</p>
      <%= render partial: "search_bar" %>
    </div>
  </div>
