<div class="custom-container-page">
  <h1>Welcome to our site!</h1>
  <h2>A place for coders by coders</h2>

  <p>
  We are a humble team of junior programers. 
  After wasting hours and hours surfing the web to find jobs and gigs for coders,
   we decided to put our skills to use and create a one-stop site that aggregates all the job offers that the internets can offer.
  </p>
  <p>
  We want to simplify the job hunt so that you can find the right job in less time. That's why our UX/UI is unpretencious and to the point.
  </p>
  <p>
  Let us know if you like it! We always welcome constructive feedback!
  </p><hr>

  <h4>May the odds be ever in your favor!</h4>

  <h4>  The Remote Scanner Team</h4><br>

  <h3>Now, <%= link_to "go get that job!", root_path, { style: 'color:#54B33D;' } %></h3>
</div>
