.carousel-control-prev, 
.carousel-control-next {
  color: $green;
  position: inherit;
}

.fa-caret-left::after, 
.fa-caret-right::after {
  color: $green;
}

.fa-caret-left::before, 
.fa-caret-right::before {
  color: $green;
}