.custom-card {
  background-color: transparent;
  transition: 250ms ease-in-out;
  border-color: $element-gray;
  padding: 16px;

  &:hover {
    box-shadow: 4px 4px 4px rgba(60, 69, 65, .25);
  }
}

.card-landing{
  gap: 16px;
  height: auto;

  @media screen and (min-width: $custom-md) {
    box-sizing: border-box;
    height: 340px;
  }

  @media screen and (min-width: $custom-sm) {
    height: 360px;
  }
}

.custom-offer-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .offer-buttons {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
  }
}

.custom-card-profile {
  display: inline-block;
  height: 320px;
  width: 270px;
}


.custom-card-body {
  height: 100%;
}


.custom-card-skills {
  border: none;
  background-color: transparent;
}

