body {
  color: $black;
}

h1, h2, h3 h4, h5, h6 {
  font-weight: 300;
}

a {
  &:hover {
    text-decoration: none;
    font-weight: 600;
  }
}

.custom-text-boldest {
  font-weight: 600;
  font-size: 48pt;
  margin-bottom: 0.5em;
}

.logo_thin {
  font-size: 18pt;
  font-weight: 300;
  color: $blue;
}

.logo_thick {
  font-size: 18pt;
  font-weight: 500;
  color: $blue;
}

// Font is inherited from the body so I don't feel too bad
// just overriding the fonts, NOTHING ELSE should be overriden
// from bootstrap directly ;)
.btn {
  font-weight: 500;
}

