// Font is inherited from the body so I don't feel too bad
// just overriding the fonts, NOTHING ELSE should be overriden
// from bootstrap directly ;)

.btn {
  font-weight: 400;
}

.custom-btn-info {
  border: none;
  // margin-left: 8px;
  // width: 150px;
  text-align: center;

  &.focus,
  &:focus {
    background-color: $green-transparent;
    border: none;
  }
    &:hover {
    background-color: $green-transparent;
    border: none;
  }
    &.active,
    &:active {
    background-color: $green-transparent;
    border: none;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $green-transparent;
    border: none;
  }
}

.custom-btn-sm {
  width: 32px;
  box-sizing: border-box;
  text-align: center;

  &:not(:disabled):not(.disabled):hover {
    background-color: transparent;
    border: none;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: transparent;
    border: none;
  }
}

.custom-btn-nav {
  border: none;
  margin-left: 8px;

  &.focus,
  &:focus {
    background-color: $green-transparent;
    border: none;
  }
    &:hover {
    background-color: $green-transparent;
    border: none;
  }
    &.active,
    &:active {
    background-color: $green-transparent;
    border: none;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $green-transparent;
    border: none;
  }
}


.custom-btn-primary {
  &:not(:disabled):not(.disabled):active{
    border: none;
  }
}

.custom-btn-secondary {
  border: none;
  margin: 4px 8px 4px 0px;
  color: $black;
  border: none;

  &:hover {
    color: $black;
    border: none;

    a {
      color: $black;
    }
  }

  &:active {
   color: $black;
   border: none;
  }

  &:not(:disabled):not(.disabled):active {
    border: none;

    a {
      color: $black;
    }
  }
}

.custom-button-fix {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  opacity: 0.6;
  position: relative;
  bottom: 8px;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    border: none;
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
    border: none;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: transparent;
    border: none;
  }
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.heart-button:hover .icon-unheart,
.heart-button .icon-heart {
    display: none;
}
.heart-button:hover .icon-heart {
    display: inline;
    // opacity: 0.4;
    // text-decoration: none;
}

.icon-heart {
  color: $green;
}

.custom-btn-success {
  &:not(:disabled):not(.disabled):active {
    border: none;
  }
}

.custom-btn-sm {
  width: 40px;
}

.custom-link{
  &:hover {
    color: $green;
  }
}
