body {
  color: $black;
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 300;
  margin-bottom: 32px;
}

h4, h5, h6 {
  font-weight: 500;
}

a {
  color: $black;
  text-align: center;
  &:hover {
    text-decoration: none;
    font-weight: 600;
  }
}

.custom-nav-fix {
  color: $black;
  font-weight: initial;
  &:hover {
    color: $black;
    font-weight: initial;
  }
}

.custom-text-boldest {
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 24pt;

  @media screen and (min-width: $huge-mobile){
    font-size: 40pt;
  }

  @media screen and (min-width: $custom-sm){
    font-size: 36pt;
  }

  @media screen and (min-width: $custom-md){
    font-size: 54pt;
  }
}

.description {
  margin-bottom: 2em;
}

// logo colors

.logo_thin {
  font-size: 18pt;
  font-weight: 300;
  color: $black;
}

.logo_thick {
  font-size: 18pt;
  font-weight: 500;
  color: $black;
}


.logo_brackets {
  color: $green;
  &:hover {
    font-weight: normal;
  }
}
