$big-mobile: 425px;
$huge-mobile: 577px;
$custom-sm: 768px;
$custom-md: 992px;
$custom-lg: 1200px;
$two-cards: 840px;

.custom-container-page{
  margin: 96px 0;
}

.custom-container-search{
  margin: 78px 0;
}

.custom-container-section {
  margin-bottom: 56px;
}

.custom-container-offer {
  margin: 44px 16px;
}

.custom-container-tags {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

}

.custom-container-welcome {
  height: 90vh;
}

.custom-container-issuer {
  margin: 24px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 70%;

  @media screen and (min-width: $custom-sm) {
    display: block;
    margin: 0;
    text-align: left;
    flex-basis: 25%;
  }
}

.custom-container-preview {
  display: block;
  margin: 44px 0;
  height: auto;

  @media screen and (min-width: $custom-sm) {
    display: flex;
    margin: 44px 0;
    align-items: end;
    height: 200px;

  }
}

.custom-offer-data {
  margin-bottom: 32px;
  height: 100%;
  // text-align: center;

  @media screen and (min-width: $custom-sm) {
    margin: 0;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: $custom-md) {
    flex-basis: 70%;
  }
}

.custom-container-summary {
  @media screen and (min-width: $custom-sm) {
    // display: block;
    margin: 0;
    text-align: left;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.custom-apply-buttons {
  display: flex;
  flex-direction: row;
  margin: 0 32px 6px 0;
  display: flex;
  justify-content: space-between;
  align-content: start;
}

.custom-offers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 16px;
  color: $black;

  @media screen and (max-width: $custom-md) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  @media screen and (max-width: $custom-sm) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.custom-container-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 60px);
}

.custom-container-about {
  flex-basis: 270px;
  text-align: center;

  @media screen and (min-width: $big-mobile) {
    flex-basis: 370px;
  }

  @media screen and (min-width: $custom-sm) {
    flex-basis: 560px;
  }

  @media screen and (min-width: $custom-md) {
    flex-basis: 750px;
  }
}

.custom-container-user {
  width: 100%;

  @media screen and (min-width: $custom-sm) {
    display: flex;

    .information {
        flex-basis: 33%;
      padding-right: 24px;
      @media screen and (min-width: $custom-md) {
        flex-basis: 25%;
      }
    }

    .jobs {
      flex-grow: 1;
    }
  }

  .custom-container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $custom-sm) {
      display: block;
    }
  }
}

.custom-search-dashboard {
  padding: 32px 64px 16px 34px;
  width: 100;
}

// Temporary fix whilst working sorting features

.custom-container-search-buttons {
  width: 250px !important;
}

.job-type-buttons {
  padding: 0 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
