.custom-card {
  background-color: transparent;
  transition: 250ms ease-in-out;
  border-color: $element-gray;
  padding: 16px;

  &:hover {
    box-shadow: 4px 4px 4px rgba(60, 69, 65, .25);
  }
}

.custom-offer-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .offer-buttons {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
  }
}

.custom-card-profile {
  width: 220px;
  
}

.custom-card-skills {
  border-color: $element-gray;
  background-color: transparent;
}
