
// Font is inherited from the body so I don't feel too bad
// just overriding the fonts, NOTHING ELSE should be overriden
// from bootstrap directly ;)
.btn {
  font-weight: 500;
}

.custom-btn-info {
  // border: 1px solid $element-gray;

  &:hover {
    background-color: $green-transparent;
    border: $green-transparent;
  }
}

.custom-btn-info {
  border: none;
  &:hover {
    background-color: $green-transparent;
    border: none;
  }
}

.custom-btn-secondary {
  border: none;
  margin: 4px 8px 4px 0px;
  color: $black;
  &:hover {
    color: $black;
  }
}
