$big-mobile: 769px;
$custom-lg: 1188px;
$custom-md: 881px;
$custom-sm: 530px;

.custom-container-page{
  margin: 96px 0;
}

.custom-container-section {
  margin-bottom: 56px;
}

.custom-container-offer {
  display: block;
  margin: 44px 0;
}

.custom-offers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 16px;
  color: $black;

  @media screen and (max-width: $big-mobile) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.custom-container-landing {
  // height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 56px;
}

.custom-container-about {
  flex-basis: 400px;
  text-align: right;
  height: calc(100vh - 60px);
}
