.custom-list {
  // border: none;
  border-color: $element-gray;
  border-width: 2px;
  // color: $black;
}


.list-group {
  background-color: transparent;
  border-color: $element-gray;
}

.list-group-item {
  background-color: transparent;
  border-color: $element-gray;
}
