.custom-card, .custom-card-static {
  border-radius: 0px;
  border: none;
  box-shadow: 6px 6px 6px #A6A5A4;
  transition: 250ms ease-in-out;
  margin-bottom: 30px;
}


.card {
  background-color: $light-gray;
  box-shadow: 4px 4px 6px rgba(60, 69, 65, .4);

  &::hover {
    box-shadow: 4px 4px 6px rgba(60, 69, 65, .6);
  }
}
