// Import your components CSS files here.
// min sizes
$big-mobile: 769px;
$custom-lg: 1188px;
$custom-md: 881px;
$custom-sm: 530px;

@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "custom_card";
@import "custom_container";
@import "custom_image_settings";
@import "custom_text";
@import "custom_table";
@import "auto-complete";
