.navbar-fixed{
 // display: fixed;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $bone-gray;
  padding: 16px 64px;

  @media screen and (max-width: $big-mobile) {
    padding: 16px 24px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

