.custom-search-dashboard {
  position: -webkit-sticky;
  position: sticky;
  top: 78px;
  padding: 24px;
  background-color: $bone-gray;
  z-index: 2;
  padding: 32px 64px 16px 34px;
  width: 100%;
}

.custom-container-search-buttons {
  width: 40%;
}


// Temporary fix whilst working sorting features

.custom-container-search-buttons {
  width: 100%;
  border: 3px solid red;

}

.dashboard-options {
  margin-left: 16px;
}

.dashboard-element{
  border: 2px solid blue;

}

.dashboard-heading{
  height: 32px;
  margin: 0 0 0 16px;
  padding: 0;
}

.job-type-buttons{
  border: 2px solid green;
  display: flex;
}
