.custom-search-dashboard {
  position: sticky;
  top: 78px;
  background-color: $bone-gray;
  z-index: 2;
  width: 100%;
  border: 1px solid red;
  padding: 16px 64px 16px 34px;
}

.custom-search-dashboard-padding {
}

.custom-container-search-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard-options {
  margin-left: 16px;
}

.dashboard-heading{
  height: 32px;
  margin: 0 0 0 16px;
  padding: 0;
}

.job-type-buttons{
  display: block;
  @media screen and (min-width: $huge-mobile) {
    display: flex;
  }
}

.dashboard-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:hover{
    cursor: pointer;
  }

  p {
    transition: 250ms ease-in-out;
    margin: 0;
  }

  i {
    color: $green;
    transition: 250ms ease-in-out;
  }

  i:hover{
    opacity: .5;
  }

  span{
    color: $green;
    transition: 250ms ease-in-out;
    font-weight: 600;
    font-size: 11pt;
  }

  span:hover{
    cursor: pointer;
  }
}

.dashboard-search-bar{
  display: flex;
  margin-bottom: 1rem;
}

.hidable-dashboard{
  // display: none;
}
