ul {
  list-style: none;
  padding: 0;
}

.custom_table_row {
  padding: 16px;
  display: flex;
  background-color: transparent;

  .custom_key{
    flex-basis: 20%;
  }

  .custom_value{
    flex-basis: 80%;
  }
}

.ct1 {
  background-color: $dutch-white;
}
